.Article {
  background-color: lightgreen;
  border: 1px solid black;
  margin: 2px;
  padding: 0;
  width: 200px;
  height: 250px;
  background-size: contain;
  background-color:rgba(255,0,0,0.5);
}

.Article-title {

}

.Article-description {

}
