.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-grid{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
